body{
    background-color: rgb(115, 218, 115);
    text-align: center;
}

h1{
    color: rgb(72, 37, 226);
    font-style: oblique;
}

h2{
    color: rgb(223, 49, 18);
    font-style: italic;
    font-size: 50px;
}

img{
    width: 350px;
}

